 h2 {
    color: white;
}

h3 {
    color: white;
}
h4 {
    color: white;
}

h5 {
    color: white;
}


p{
    color: white;
}

.fab{
    font-size: 30px;
}
a{
    color: white;
}

.style{
    background-color: #12284e;
    width: 1000px;
    border-radius: 15px;
    border: 1px solid rgb(150, 150, 150) ;
    margin-top: 30px;
    padding: 20px;
}
    

.margin{
    margin-right:12px;

}
a:hover{
    color: #75a7ff;
    text-decoration: none;
}

.hover:hover{
    color: white;
}

.body5{
    
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.5)) rgb(1, 0, 83);
    height: 240vh;
}