h1{
    color:  white;
}

.imgMe2{
    margin-left: 20px;
    width: 350px;
    border-radius: 50%;
    background-color: rgb(163, 159, 159);
}

.box1{
    
    background-color:   #192841;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 5px 7px 5px 7px;
    border: 1px solid white;
    border-radius: 10px;
}

.box2{
    margin-top: 20px;
}

.h5{
    color:  white;
    font-size: 30px;
    font-family: monospace;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 20px;
}
.h4{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;

}
.body2{
    
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.5)) rgb(1, 0, 83);
    height: 100vh;
}